
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1482119027'); /* IE9*/
  src: url('iconfont.eot?t=1482119027#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1482119027') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1482119027') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1482119027#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-paste:before { content: "\e60d"; }
.icon-youjiantou:before { content: "\e658"; }
.icon-contact-us:before { content: "\e630"; }
.icon-edit-fonts:before { content: "\e61d"; }
.icon-document-copying:before { content: "\e60e"; }
.icon-search:before { content: "\e63a"; }
.icon-exit-door:before { content: "\e64a"; }
.icon-editor:before { content: "\e63b"; }
.icon-ok:before { content: "\e617"; }
.icon-arrow-bottom:before { content: "\e666"; }
.icon-copy:before { content: "\e63f"; }
.icon-computer:before { content: "\e647"; }
.icon-up-arrow:before { content: "\e616"; }
.icon-aduio-static:before { content: "\e67c"; }
.icon-close:before { content: "\e62c"; }
.icon-crumbs:before { content: "\e633"; }
.icon-view:before { content: "\e640"; }
.icon-up-pic:before { content: "\e654"; }
.icon-password-lock:before { content: "\e655"; }
.icon-aduio-down:before { content: "\e678"; }
.icon-down-arrow:before { content: "\e641"; }
.icon-move:before { content: "\e60c"; }
.icon-share:before { content: "\e64b"; }
.icon-manual-install:before { content: "\e68d"; }
.icon-round:before { content: "\e691"; }
.icon-rectangle:before { content: "\e61f"; }
.icon-delete:before { content: "\e61e"; }
.icon-aduio-audio:before { content: "\e67b"; }
.icon-log-in-register:before { content: "\e652"; }
.icon-asterisk:before { content: "\e642"; }
.icon-video:before { content: "\e625"; }
.icon-reduction:before { content: "\e656"; }
.icon-qq:before { content: "\e62d"; }
.icon-apps:before { content: "\e667"; }
.icon-move-up:before { content: "\e62f"; }
.icon-move-down:before { content: "\e634"; }
.icon-html:before { content: "\e68b"; }
.icon-return:before { content: "\e605"; }
.icon-mobile-phone:before { content: "\e648"; }
.icon-message-board:before { content: "\e637"; }
.icon-select-box:before { content: "\e689"; }
.icon-dianhua:before { content: "\e668"; }
.icon-mute:before { content: "\e680"; }
.icon-member-login:before { content: "\e639"; }
.icon-Top:before { content: "\e67e"; }
.icon-lock:before { content: "\e60f"; }
.icon-staff:before { content: "\e606"; }
.icon-video1:before { content: "\e659"; }
.icon-one-to-one:before { content: "\e600"; }
.icon-aduio-add:before { content: "\e679"; }
.icon-pic-upload:before { content: "\e643"; }
.icon-internet:before { content: "\e609"; }
.icon-qr-code:before { content: "\e60a"; }
.icon-enter:before { content: "\e64c"; }
.icon-space:before { content: "\e644"; }
.icon-pic-default:before { content: "\e657"; }
.icon-add-to:before { content: "\e645"; }
.icon-menu-navigation:before { content: "\e62a"; }
.icon-map-navigation:before { content: "\e631"; }
.icon-xuanzhuan:before { content: "\e69a"; }
.icon-fangdajing:before { content: "\e669"; }
.icon-people:before { content: "\e646"; }
.icon-Content:before { content: "\e681"; }
.icon-transverse-line:before { content: "\e621"; }
.icon-toolbox:before { content: "\e607"; }
.icon-enter-door:before { content: "\e65a"; }
.icon-ziliao:before { content: "\e66a"; }
.icon-management-home:before { content: "\e65b"; }
.icon-cancel-stretch:before { content: "\e601"; }
.icon-stretch:before { content: "\e602"; }
.icon-align-size:before { content: "\e653"; }
.icon-service:before { content: "\e62e"; }
.icon-file-page:before { content: "\e662"; }
.icon-total-station:before { content: "\e632"; }
.icon-aduio-upward:before { content: "\e67a"; }
.icon-fanhui:before { content: "\e66b"; }
.icon-icon:before { content: "\e66c"; }
.icon-font31:before { content: "\e69b"; }
.icon-file:before { content: "\e664"; }
.icon-drag:before { content: "\e635"; }
.icon-chanpinjieshao:before { content: "\e66d"; }
.icon-share-off:before { content: "\e684"; }
.icon-upload-style:before { content: "\e603"; }
.icon-upload-component:before { content: "\e604"; }
.icon-share-on:before { content: "\e685"; }
.icon-category-1:before { content: "\e688"; }
.icon-picture:before { content: "\e620"; }
.icon-bottom-alignment:before { content: "\e610"; }
.icon-align-right:before { content: "\e612"; }
.icon-left-justified:before { content: "\e613"; }
.icon-vertical-alignment:before { content: "\e614"; }
.icon-horizontal-alignment:before { content: "\e615"; }
.icon-example-copy:before { content: "\e65e"; }
.icon-gengduo:before { content: "\e66e"; }
.icon-align-top:before { content: "\e60b"; }
.icon-step-forward:before { content: "\e611"; }
.icon-to-copy:before { content: "\e608"; }
.icon-forward-one:before { content: "\e618"; }
.icon-on-lock:before { content: "\e619"; }
.icon-backward-layer:before { content: "\e61a"; }
.icon-the-bottom:before { content: "\e61b"; }
.icon-stick:before { content: "\e61c"; }
.icon-vertical-line:before { content: "\e622"; }
.icon-slides:before { content: "\e626"; }
.icon-thumbnail:before { content: "\e623"; }
.icon-wangge:before { content: "\e624"; }
.icon-audio-frequency:before { content: "\e627"; }
.icon-classification-menu:before { content: "\e628"; }
.icon-content-list:before { content: "\e62b"; }
.icon-html1:before { content: "\e629"; }
.icon-copy-link:before { content: "\e636"; }
.icon-central-setting:before { content: "\e63d"; }
.icon-down-settings:before { content: "\e63c"; }
.icon-top-settings:before { content: "\e63e"; }
.icon-station-setting:before { content: "\e638"; }
.icon-Style-selection:before { content: "\e64d"; }
.icon-style-selection:before { content: "\e649"; }
.icon-template:before { content: "\e64e"; }
.icon-set-up:before { content: "\e64f"; }
.icon-page:before { content: "\e650"; }
.icon-component-selection:before { content: "\e651"; }
.icon-aduio-Navigation:before { content: "\e67d"; }
.icon-arrow-right:before { content: "\e68a"; }
.icon-minus:before { content: "\e661"; }
.icon-custom-classification:before { content: "\e65c"; }
.icon-custom-list:before { content: "\e65d"; }
.icon-duanxin:before { content: "\e66f"; }
.icon-file-open:before { content: "\e665"; }
.icon-youjiantou1:before { content: "\e670"; }
.icon-plus:before { content: "\e663"; }
.icon-dianpufill:before { content: "\e671"; }
.icon-kefufill:before { content: "\e672"; }
.icon-message-board1:before { content: "\e673"; }
.icon-pengyoufill:before { content: "\e674"; }
.icon-shouyefill:before { content: "\e675"; }
.icon-combination:before { content: "\e682"; }
.icon-iconfontlock:before { content: "\e65f"; }
.icon-icon1:before { content: "\e660"; }
.icon-lianxiwomen:before { content: "\e676"; }
.icon-12qiuzhizhaopin:before { content: "\e677"; }
.icon-ungroup:before { content: "\e695"; }
.icon-list:before { content: "\e683"; }
.icon-arrow-up:before { content: "\e67f"; }
.icon-close-down-binding:before { content: "\e68c"; }
.icon-open-down-binding:before { content: "\e68e"; }
.icon-share-default:before { content: "\e686"; }
.icon-selected-box:before { content: "\e699"; }
.icon-self-adaption:before { content: "\e687"; }
.icon-eyes-preview:before { content: "\e690"; }
.icon-plug-message-board:before { content: "\e68f"; }
.icon-yemianshuipingjuzhong:before { content: "\e692"; }
.icon-group:before { content: "\e693"; }
.icon-beijing:before { content: "\e694"; }
.icon-bordercolor:before { content: "\e696"; }
.icon-borderstyle:before { content: "\e697"; }
.icon-universal-form:before { content: "\e698"; }
.icon-details:before { content: "\e69c"; }
.icon-moban:before { content: "\e69f"; }
.icon-tianjia:before { content: "\e6a0"; }
.icon-chajian:before { content: "\e69d"; }
.icon-gerensucai:before { content: "\e69e"; }
.icon-font-color:before { content: "\e6a1"; }
.icon-background-color:before { content: "\e6a2"; }
.icon-clear-style:before { content: "\e6a3"; }
.icon-text-align-right:before { content: "\e6a4"; }
.icon-text-align-left:before { content: "\e6a5"; }
.icon-font-weight:before { content: "\e6a6"; }
.icon-font-style:before { content: "\e6a7"; }
.icon-text-decoration:before { content: "\e6a8"; }
.icon-text-align-center:before { content: "\e6a9"; }
.icon-add-link:before { content: "\e6aa"; }
.icon-double-angle-arrow-up:before { content: "\e6ab"; }
.icon-chajian_test:before { content: "\e6ac"; }
.icon-tianjia_test:before { content: "\e6ad"; }
.icon-gerensucai_test:before { content: "\e6ae"; }
.icon-moban_test:before { content: "\e6af"; }
.icon-sent:before { content: "\e6b0"; }
.icon-write:before { content: "\e6b1"; }
.icon-contact:before { content: "\e6b2"; }
.icon-group1:before { content: "\e6b3"; }
.icon-audio-play:before { content: "\e6b4"; }
.icon-audio-forbid:before { content: "\e6b5"; }
