.container .boboji{
	width: 100%;
	margin: 0 auto;
	margin-top: 70px;
}
.container .boboji h2{
	text-align: center;
	color: #ee9600;
}
.container .boboji .boboji_text{
	width: 90%;
	margin: 0 auto;
	padding: 10px;
	text-indent: 2em;
	font-size: 18px;
	line-height: 200%;
	background: rgba(225,225,225,.6);
}
.container .you_like{
	width: 100%;
	margin-top: 6%;
}
.container .you_like h2{
	text-align: center;
	color: #ee9600;
}
